---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
  <div class="container">
    <div class="prose mx-auto">
      <h1 class="mt-16">誰かの不便をちょっと便利に</h1>
			<p>誰かの不便を、ちょっと便利にするプロダクトやサービスを作っていきたくて活動しています。</p>
			<h2>最近の投稿</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>
                <FormattedDate date={post.data.pubDate} />
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
