---
import { Icon } from "astro-icon/components";
import { buttonVariants } from "@/components/ui/button";

interface Props {
  href?: string;
  label: string;
  currentPage?: boolean;
}

const { href = "#", label, currentPage = false } = Astro.props;

export type TypeBreadcrumbsItem = typeof BreadcrumbsItem;
---

<li class="flex jusitfy-center items-center p-0 m-0 text-wrap">
  {
    currentPage ? (
      <span
        aria-current="page"
        class={buttonVariants({ variant: "disabled", size: "sm" })}
      >
        {label}
      </span>
    ) : (
      <>
        <a href={href} class={buttonVariants({ variant: "link", size: "sm" })}>
          {label}
        </a>
        <Icon name="mdi:chevron-right" />
      </>
    )
  }
</li>
