<header>
  <div class="container py-4">
    <div class="prose mx-auto">
      <nav class="flex justify-center gap-4">
        <a href="/">ホーム</a>
        <a href="/posts">投稿</a>
      </nav>
    </div>
  </div>
</header>
